workflow/oddroom-orderops-vsl.json
{
  "id": "PF07OrderOpsVSL1",
  "name": "OddRoom OrderOps",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oddroom-orderops-v1",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Signed Raw Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1160,
        0
      ],
      "webhookId": "71111111-1111-4111-8111-111111111111"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst BigNumber = require('bignumber.js');\nconst JSONbig = require('json-bigint')({ protoAction: 'error', constructorAction: 'error' });\nconst item = $input.first();\nconst sourceHeaders = item.json.headers ?? {};\nconst headers = {};\nfor (const [key, value] of Object.entries(sourceHeaders)) headers[String(key).toLowerCase()] = Array.isArray(value) ? String(value[0] ?? '') : String(value ?? '');\nconst rawBase64 = item.binary?.data?.data;\nconst raw = typeof rawBase64 === 'string' ? Buffer.from(rawBase64, 'base64') : Buffer.alloc(0);\nconst reject = (errorCode, statusCode) => [{ json: { authorized: false, status_code: statusCode, error: { error_code: errorCode } } }];\nif (raw.length > 262144) return reject('PAYLOAD_TOO_LARGE', 413);\nconst eventKey = headers['x-oddroom-event-key'] ?? '';\nconst timestampText = headers['x-oddroom-timestamp'] ?? '';\nconst phase = headers['x-oddroom-resume-phase'] ?? '';\nconst supplied = headers['x-oddroom-signature'] ?? '';\nconst eventTypes = {\n  ORDER_CREATED: { rank: 10, source: 'date_created' },\n  PAYMENT_CONFIRMED: { rank: 20, source: 'date_paid' },\n  ORDER_CANCELLED: { rank: 30, source: '_oddroom_orderops_cancelled_at_utc' },\n  ORDER_REFUNDED: { rank: 40, source: 'full_refund_completion' },\n};\nif (!/^v1:pf07-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}:(?:0|[1-9][0-9]{0,18}):(ORDER_CREATED|PAYMENT_CONFIRMED|ORDER_CANCELLED|ORDER_REFUNDED)$/.test(eventKey)) return reject('SIGNATURE_INVALID', 401);\nif (!/^[1-9][0-9]{0,10}$/.test(timestampText) || !['created','deal_resolved','contact_upserted','deal_upserted','associated','slack_pending'].includes(phase)) return reject('SIGNATURE_INVALID', 401);\nif (!/^v1=[0-9a-f]{64}$/.test(supplied)) return reject('SIGNATURE_INVALID', 401);\nconst secret = String($env.ODDROOM_WEBHOOK_HMAC_KEY ?? '');\nif (secret.length < 16) throw new Error('HMAC credential alias is unavailable');\nconst base = Buffer.concat([Buffer.from(`${timestampText}.${eventKey}.${phase}.`, 'utf8'), raw]);\nconst expected = 'v1=' + crypto.createHmac('sha256', secret).update(base).digest('hex');\nconst providedBytes = Buffer.from(supplied, 'utf8');\nconst expectedBytes = Buffer.from(expected, 'utf8');\nif (providedBytes.length !== expectedBytes.length || !crypto.timingSafeEqual(providedBytes, expectedBytes)) return reject('SIGNATURE_INVALID', 401);\nconst timestamp = Number(timestampText);\nif (!Number.isSafeInteger(timestamp) || Math.abs(Math.floor(Date.now() / 1000) - timestamp) > 300) return reject('TIMESTAMP_EXPIRED', 401);\nlet payload;\nconst rawText = raw.toString('utf8');\nif (!Buffer.from(rawText, 'utf8').equals(raw)) return reject('PAYLOAD_INVALID', 400);\ntry { payload = JSONbig.parse(rawText); } catch { return reject('PAYLOAD_INVALID', 400); }\nconst order = payload?.order;\nconst eventRule = eventTypes[payload?.event_type];\nconst selectedCurrency = 'KRW';\nconst selectedCurrencyPrecision = 2;\nconst money = new RegExp(`^(?:0|[1-9][0-9]{0,17})\\\\.[0-9]{${selectedCurrencyPrecision}}$`);\nconst bounded = (value, min, max) => {\n  if (typeof value !== 'string') return false;\n  const length = Array.from(value).length;\n  return length >= min && length <= max;\n};\nconst plainObject = (value) => value !== null && typeof value === 'object' && !Array.isArray(value) && !BigNumber.isBigNumber(value);\nconst exactKeys = (value, keys) => {\n  if (!plainObject(value)) return false;\n  const actual = Object.keys(value);\n  return actual.length === keys.length && actual.every((key, index) => key === keys[index]);\n};\nconst utcSecond = (value) => {\n  if (typeof value !== 'string' || !/^[1-9][0-9]{3}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$/.test(value)) return false;\n  const instant = Date.parse(value);\n  return Number.isFinite(instant) && new Date(instant).toISOString() === `${value.slice(0, -1)}.000Z`;\n};\nconst signed64Max = new BigNumber('9223372036854775807');\nconst signed64 = (value, allowZero) => {\n  if (typeof value === 'number') return Number.isSafeInteger(value) && (allowZero ? value >= 0 : value > 0);\n  return BigNumber.isBigNumber(value) && value.isInteger() && (allowZero ? value.gte(0) : value.gt(0)) && value.lte(signed64Max);\n};\nconst validItem = (value) => exactKeys(value, ['item_id','product_id','variation_id','sku','name','quantity','line_total']) && signed64(value.item_id, true) && signed64(value.product_id, true) && signed64(value.variation_id, true) && bounded(value.sku, 0, 255) && bounded(value.name, 1, 255) && Number.isSafeInteger(value.quantity) && value.quantity >= 1 && value.quantity <= 1000000 && money.test(value.line_total ?? '');\nconst validCoupon = (value) => bounded(value, 1, 255);\nconst valid = exactKeys(payload, ['schema_version','event_key','shop_instance_id','run_id','event_type','occurred_at_utc','occurred_at_source','state_rank','order']) && payload.schema_version === '1' && payload.event_key === eventKey && bounded(payload.shop_instance_id, 1, 64) && /^pf07-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/.test(payload.shop_instance_id) && typeof payload.run_id === 'string' && /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/.test(payload.run_id) && eventRule && payload.state_rank === eventRule.rank && utcSecond(payload.occurred_at_utc) && payload.occurred_at_source === eventRule.source && exactKeys(order, ['id','number','currency','total','customer','items','coupon_codes']) && signed64(order.id, true) && bounded(order.number, 1, 255) && order.currency === selectedCurrency && money.test(order.total ?? '') && exactKeys(order.customer, ['email','first_name','last_name']) && bounded(order.customer.email, 1, 254) && order.customer.email === order.customer.email.toLowerCase() && /^[^@\\s]+@example\\.com$/.test(order.customer.email) && bounded(order.customer.first_name, 1, 255) && bounded(order.customer.last_name, 1, 255) && Array.isArray(order.items) && order.items.length >= 1 && order.items.length <= 100 && order.items.every(validItem) && Array.isArray(order.coupon_codes) && order.coupon_codes.length <= 50 && order.coupon_codes.every(validCoupon);\nif (!valid) return reject(payload?.schema_version === '1' ? 'PAYLOAD_INVALID' : 'SCHEMA_UNSUPPORTED', 400);\nconst expectedKey = `v1:${payload.shop_instance_id}:${order.id}:${payload.event_type}`;\nif (eventKey !== expectedKey) return reject('PAYLOAD_INVALID', 400);\nconst orderKey = `${payload.shop_instance_id}:${order.id}`;\nconst normalize = (value) => {\n  if (BigNumber.isBigNumber(value)) return value.toFixed(0);\n  if (Array.isArray(value)) return value.map(normalize);\n  if (value && typeof value === 'object') return Object.fromEntries(Object.entries(value).map(([key, child]) => [key, normalize(child)]));\n  return value;\n};\nreturn [{ json: { authorized: true, event_key: eventKey, resume_phase: phase, payload: normalize(payload), order_key: orderKey, deal_read_body: { idProperty: 'oddroom_wc_order_key', properties: ['oddroom_wc_order_key','oddroom_order_state','oddroom_order_state_rank','oddroom_last_event_at','oddroom_last_event_key','dealname','pipeline','dealstage'], inputs: [{ id: orderKey }] } } }];"
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Verify HMAC Then Decode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -940,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.authorized }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Authenticated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -720,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.status_code }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Reject Before Side Effects",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -500,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/objects/2026-03/deals/batch/read",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.deal_read_body }}"
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "HubSpot 2026-03 Deal Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -500,
        -80
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "PF07HubSpotRuntime1",
          "name": "PF07 HubSpot Runtime"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const context = $('Verify HMAC Then Decode').first().json;\nconst response = $input.first().json;\nconst statusCode = Number(response.statusCode ?? 200);\nconst body = response.body ?? response;\nconst initialSlack = context.payload.event_type === 'ORDER_CREATED' ? 'not_required' : 'pending';\nconst envelope = (result, phase, contactId, dealId, slackStatus, retryable, errorCode, errorMessage) => ({ schema_version: '1', event_key: context.event_key, result, processing_phase: phase, remote_contact_id: contactId ?? null, remote_deal_id: dealId ?? null, slack_status: slackStatus, slack_message_ts: null, retryable, retry_after_seconds: null, error_code: errorCode ?? null, error_message: errorMessage ?? null });\nconst stop = (responseCode, value) => [{ json: { continue_work: false, response_code: responseCode, envelope: value } }];\nif (statusCode === 401 || statusCode === 403) return stop(422, envelope('terminal_error', context.resume_phase, null, null, initialSlack, false, 'HUBSPOT_AUTH', 'HubSpot authorization was rejected.'));\nif (statusCode < 200 || statusCode >= 300) return stop(503, envelope('retryable_error', context.resume_phase, null, null, initialSlack, true, 'HUBSPOT_RETRYABLE', 'HubSpot Deal resolution was unavailable.'));\nif (body?.status !== 'COMPLETE') return stop(503, envelope('retryable_error', context.resume_phase, null, null, initialSlack, true, 'HUBSPOT_RETRYABLE', 'HubSpot Deal resolution did not complete.'));\nconst results = Array.isArray(body?.results) ? body.results : [];\nif (results.length > 1) return stop(422, envelope('terminal_error', context.resume_phase, null, null, initialSlack, false, 'HUBSPOT_SCHEMA', 'Deal identity resolution was ambiguous.'));\nconst existing = results[0] ?? null;\nconst existingId = existing ? String(existing.id ?? '') : null;\nif (existing && existingId === '') return stop(422, envelope('terminal_error', context.resume_phase, null, null, initialSlack, false, 'HUBSPOT_SCHEMA', 'Deal identity was malformed.'));\nconst existingRank = existing ? Number(existing.properties?.oddroom_order_state_rank) : -1;\nconst existingKey = existing?.properties?.oddroom_last_event_key ?? null;\nconst existingOrderKey = existing?.properties?.oddroom_wc_order_key ?? null;\nconst existingState = existing?.properties?.oddroom_order_state ?? null;\nconst existingAt = existing?.properties?.oddroom_last_event_at ?? null;\nconst remoteRules = { ORDER_CREATED: 10, PAYMENT_CONFIRMED: 20, ORDER_CANCELLED: 30, ORDER_REFUNDED: 40 };\nconst validRemoteAt = typeof existingAt === 'string' && /^[1-9][0-9]{3}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$/.test(existingAt) && Number.isFinite(Date.parse(existingAt)) && new Date(Date.parse(existingAt)).toISOString() === `${existingAt.slice(0, -1)}.000Z`;\nconst expectedExistingKey = typeof existingState === 'string' ? `v1:${context.payload.shop_instance_id}:${context.payload.order.id}:${existingState}` : null;\nif (existing && (!Number.isInteger(existingRank) || remoteRules[existingState] !== existingRank || existingKey !== expectedExistingKey || existingOrderKey !== context.order_key || !validRemoteAt)) return stop(422, envelope('terminal_error', context.resume_phase, null, existingId, initialSlack, false, 'HUBSPOT_SCHEMA', 'Deal authoritative state was malformed.'));\nif (existing && existingRank === context.payload.state_rank && existingKey !== context.event_key) return stop(422, envelope('terminal_error', context.resume_phase, null, existingId, initialSlack, false, 'HUBSPOT_SCHEMA', 'Equal-rank remote state has a different event key.'));\nif (existing && existingRank > context.payload.state_rank) return stop(200, envelope('stale_ignored', 'completed', null, existingId, 'not_required', false, null, null));\nconst phaseOrder = ['created','deal_resolved','contact_upserted','deal_upserted','associated','slack_pending'];\nconst phaseIndex = phaseOrder.indexOf(context.resume_phase);\nconst dealUpsertedIndex = phaseOrder.indexOf('deal_upserted');\nlet mode;\nif (existing && existingRank === context.payload.state_rank) {\n  if (context.resume_phase === 'created') {\n    if (context.payload.event_type !== 'ORDER_CREATED') return stop(409, envelope('operator_review', 'created', null, existingId, initialSlack, false, 'RESUME_PHASE_CONFLICT', 'A Slack-producing created replay is ambiguous.'));\n    mode = 'duplicate';\n  } else {\n    mode = 'resume';\n  }\n} else {\n  if (phaseIndex >= dealUpsertedIndex) return stop(409, envelope('operator_review', context.resume_phase, null, existingId, initialSlack, false, 'RESUME_PHASE_CONFLICT', 'Remote Deal state does not establish the persisted resume phase.'));\n  mode = context.resume_phase === 'created' ? 'advance' : 'resume';\n}\nconst order = context.payload.order;\nconst contactBody = { inputs: [{ id: order.customer.email, idProperty: 'email', properties: { email: order.customer.email, firstname: order.customer.first_name, lastname: order.customer.last_name } }] };\nconst contactReadBody = { idProperty: 'email', properties: ['email','firstname','lastname'], inputs: [{ id: order.customer.email }] };\nconst dealBody = { inputs: [{ id: context.order_key, idProperty: 'oddroom_wc_order_key', properties: { dealname: `OddRoom order ${order.number}`, pipeline: String($env.HUBSPOT_PIPELINE_ID), dealstage: String($env.HUBSPOT_INITIAL_STAGE_ID), oddroom_wc_order_key: context.order_key, oddroom_order_state: context.payload.event_type, oddroom_order_state_rank: String(context.payload.state_rank), oddroom_last_event_at: context.payload.occurred_at_utc, oddroom_last_event_key: context.event_key } }] };\nconst readOnlyMode = mode === 'duplicate';\nconst sameEventState = Boolean(existing && existingRank === context.payload.state_rank && existingKey === context.event_key);\nconst contactMutationRequired = !readOnlyMode && phaseIndex <= phaseOrder.indexOf('deal_resolved');\nconst dealMutationRequired = !readOnlyMode && phaseIndex <= phaseOrder.indexOf('contact_upserted') && !sameEventState;\nconst associationMutationRequired = !readOnlyMode && phaseIndex <= phaseOrder.indexOf('deal_upserted');\nreturn [{ json: { continue_work: true, response_code: null, envelope: null, mode, existing_deal_id: existingId, contact_mutation_required: contactMutationRequired, deal_mutation_required: dealMutationRequired, association_mutation_required: associationMutationRequired, contact_upsert_body: contactBody, contact_read_body: contactReadBody, deal_upsert_body: dealBody, deal_read_body: context.deal_read_body, initial_slack_status: initialSlack, trace: phaseOrder.slice(0, phaseIndex + 1) } }];"
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Resolve Monotonic Deal State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.continue_work }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Authenticated Work Continues",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -60,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.contact_mutation_required }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "cccccccc-cccc-4ccc-8ccc-ccccccccccc1",
      "name": "Contact Mutation Required",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        160,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/objects/2026-03/contacts/batch/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.contact_upsert_body }}"
      },
      "id": "88888888-8888-4888-8888-888888888888",
      "name": "HubSpot 2026-03 Contact Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        380,
        -80
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "PF07HubSpotRuntime1",
          "name": "PF07 HubSpot Runtime"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const context = $('Verify HMAC Then Decode').first().json;\nconst prepared = $('Resolve Monotonic Deal State').first().json;\nconst response = $input.first().json;\nconst statusCode = Number(response.statusCode ?? 200);\nconst body = response.body ?? response;\nconst failure = (code, message, terminal = false) => [{ json: { continue_contact_read: false, response_code: terminal ? 422 : 503, envelope: { schema_version: '1', event_key: context.event_key, result: terminal ? 'terminal_error' : 'retryable_error', processing_phase: 'deal_resolved', remote_contact_id: null, remote_deal_id: prepared.existing_deal_id ?? null, slack_status: prepared.initial_slack_status, slack_message_ts: null, retryable: !terminal, retry_after_seconds: null, error_code: code, error_message: message } } }];\nif (statusCode === 401 || statusCode === 403) return failure('HUBSPOT_AUTH', 'HubSpot Contact authorization was rejected.', true);\nconst results = Array.isArray(body?.results) ? body.results : [];\nif (statusCode < 200 || statusCode >= 300) return failure('HUBSPOT_RETRYABLE', 'HubSpot Contact upsert was unavailable.');\nif (body?.status === 'PENDING' || body?.status === 'PROCESSING') return [{ json: { ...prepared, continue_contact_read: true, upsert_contact_id: null } }];\nif (body?.status !== 'COMPLETE') return failure('HUBSPOT_RETRYABLE', 'HubSpot Contact upsert did not complete.');\nif (results.length !== 1 || String(results[0]?.id ?? '') === '') return failure('HUBSPOT_SCHEMA', 'HubSpot Contact upsert returned an invalid identity.', true);\nreturn [{ json: { ...prepared, continue_contact_read: true, upsert_contact_id: String(results[0].id) } }];"
      },
      "id": "99999999-9999-4999-8999-999999999999",
      "name": "Validate Contact Upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.continue_contact_read }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaa1",
      "name": "Contact Mutation Succeeded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        820,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/objects/2026-03/contacts/batch/read",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.contact_read_body }}"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaa2",
      "name": "HubSpot 2026-03 Contact Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        -80
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "PF07HubSpotRuntime1",
          "name": "PF07 HubSpot Runtime"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const context = $('Verify HMAC Then Decode').first().json;\nconst prepared = $('Resolve Monotonic Deal State').first().json;\nconst response = $input.first().json;\nconst statusCode = Number(response.statusCode ?? 200);\nconst body = response.body ?? response;\nlet mutationOutput = null;\ntry { mutationOutput = $('Validate Contact Upsert').first().json; } catch {}\nconst upsertContactId = typeof mutationOutput?.upsert_contact_id === 'string' ? mutationOutput.upsert_contact_id : null;\nconst failurePhase = prepared.contact_mutation_required ? 'deal_resolved' : context.resume_phase;\nconst failure = (responseCode, result, code, message, phase = failurePhase, contactId = null) => [{ json: { continue_deal_stage: false, response_code: responseCode, envelope: { schema_version: '1', event_key: context.event_key, result, processing_phase: phase, remote_contact_id: contactId, remote_deal_id: prepared.existing_deal_id ?? null, slack_status: prepared.initial_slack_status, slack_message_ts: null, retryable: result === 'retryable_error', retry_after_seconds: null, error_code: code, error_message: message } } }];\nif (statusCode === 401 || statusCode === 403) return failure(422, 'terminal_error', 'HUBSPOT_AUTH', 'HubSpot Contact read authorization was rejected.');\nif (statusCode < 200 || statusCode >= 300 || body?.status !== 'COMPLETE') return failure(503, 'retryable_error', 'HUBSPOT_RETRYABLE', 'HubSpot Contact resolution was unavailable.');\nconst results = Array.isArray(body?.results) ? body.results : [];\nconst result = results[0] ?? null;\nconst contactId = result ? String(result.id ?? '') : '';\nconst properties = result?.properties ?? {};\nconst identityExact = results.length === 1 && contactId !== '' && properties.email === context.payload.order.customer.email;\nconst ownedFieldsExact = properties.firstname === context.payload.order.customer.first_name && properties.lastname === context.payload.order.customer.last_name;\nconst upsertIdentityExact = upsertContactId === null || upsertContactId === contactId;\nif (!identityExact || !ownedFieldsExact || !upsertIdentityExact) {\n  if (!prepared.contact_mutation_required) return failure(409, 'operator_review', 'RESUME_PHASE_CONFLICT', 'Remote Contact does not establish the persisted resume phase.');\n  return failure(503, 'retryable_error', 'HUBSPOT_RETRYABLE', 'HubSpot Contact read-back was not exact.');\n}\nreturn [{ json: { ...prepared, continue_deal_stage: true, contact_id: contactId } }];"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaa3",
      "name": "Validate Contact Read",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.continue_deal_stage }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaa4",
      "name": "Contact Resolution Exact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1480,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.deal_mutation_required }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "cccccccc-cccc-4ccc-8ccc-ccccccccccc2",
      "name": "Deal Mutation Required",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1700,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/objects/2026-03/deals/batch/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.deal_upsert_body }}"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaa5",
      "name": "HubSpot 2026-03 Deal Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1920,
        -80
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "PF07HubSpotRuntime1",
          "name": "PF07 HubSpot Runtime"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const context = $('Verify HMAC Then Decode').first().json;\nconst prepared = $('Validate Contact Read').first().json;\nconst response = $input.first().json;\nconst statusCode = Number(response.statusCode ?? 200);\nconst body = response.body ?? response;\nconst results = Array.isArray(body?.results) ? body.results : [];\nconst failure = (responseCode, result, code, message) => [{ json: { continue_deal_read: false, response_code: responseCode, envelope: { schema_version: '1', event_key: context.event_key, result, processing_phase: 'contact_upserted', remote_contact_id: prepared.contact_id, remote_deal_id: prepared.existing_deal_id ?? null, slack_status: prepared.initial_slack_status, slack_message_ts: null, retryable: result === 'retryable_error', retry_after_seconds: null, error_code: code, error_message: message } } }];\nif (statusCode === 401 || statusCode === 403) return failure(422, 'terminal_error', 'HUBSPOT_AUTH', 'HubSpot Deal authorization was rejected.');\nif (statusCode < 200 || statusCode >= 300) return failure(503, 'retryable_error', 'HUBSPOT_RETRYABLE', 'HubSpot Deal upsert was unavailable.');\nif (body?.status === 'PENDING' || body?.status === 'PROCESSING') return [{ json: { ...prepared, continue_deal_read: true, upsert_deal_id: null } }];\nif (body?.status !== 'COMPLETE') return failure(503, 'retryable_error', 'HUBSPOT_RETRYABLE', 'HubSpot Deal upsert did not complete.');\nif (results.length !== 1 || String(results[0]?.id ?? '') === '') return failure(422, 'terminal_error', 'HUBSPOT_SCHEMA', 'HubSpot Deal upsert returned an invalid identity.');\nconst dealId = String(results[0].id);\nif (prepared.existing_deal_id && prepared.existing_deal_id !== dealId) return failure(422, 'terminal_error', 'HUBSPOT_SCHEMA', 'HubSpot Deal upsert changed the unique identity.');\nreturn [{ json: { ...prepared, continue_deal_read: true, upsert_deal_id: dealId } }];"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaa6",
      "name": "Validate Deal Upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.continue_deal_read }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaa7",
      "name": "Deal Mutation Succeeded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2360,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/objects/2026-03/deals/batch/read",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.deal_read_body }}"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaa8",
      "name": "HubSpot 2026-03 Deal Readback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2580,
        -80
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "PF07HubSpotRuntime1",
          "name": "PF07 HubSpot Runtime"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const context = $('Verify HMAC Then Decode').first().json;\nconst prepared = $('Validate Contact Read').first().json;\nconst response = $input.first().json;\nconst statusCode = Number(response.statusCode ?? 200);\nconst body = response.body ?? response;\nlet mutationOutput = null;\ntry { mutationOutput = $('Validate Deal Upsert').first().json; } catch {}\nconst upsertDealId = typeof mutationOutput?.upsert_deal_id === 'string' ? mutationOutput.upsert_deal_id : null;\nconst checkpointDealId = prepared.existing_deal_id ?? null;\nconst progressPhase = prepared.deal_mutation_required ? 'contact_upserted' : context.resume_phase;\nconst failure = (responseCode, resultKind, code, message, phase = progressPhase, dealId = checkpointDealId) => [{ json: { continue_association_stage: false, response_code: responseCode, envelope: { schema_version: '1', event_key: context.event_key, result: resultKind, processing_phase: phase, remote_contact_id: prepared.contact_id, remote_deal_id: dealId, slack_status: prepared.initial_slack_status, slack_message_ts: null, retryable: resultKind === 'retryable_error', retry_after_seconds: null, error_code: code, error_message: message } } }];\nif (statusCode === 401 || statusCode === 403) return failure(422, 'terminal_error', 'HUBSPOT_AUTH', 'HubSpot Deal read authorization was rejected.');\nif (statusCode < 200 || statusCode >= 300 || body?.status !== 'COMPLETE') return failure(503, 'retryable_error', 'HUBSPOT_RETRYABLE', 'HubSpot Deal read-back was unavailable.');\nconst results = Array.isArray(body?.results) ? body.results : [];\nconst result = results[0] ?? null;\nconst properties = result?.properties ?? {};\nconst dealId = result ? String(result.id ?? '') : '';\nif (results.length !== 1 || dealId === '') {\n  if (!prepared.deal_mutation_required) return failure(409, 'operator_review', 'RESUME_PHASE_CONFLICT', 'Remote Deal does not establish the persisted resume phase.', context.resume_phase, checkpointDealId);\n  return failure(503, 'retryable_error', 'HUBSPOT_RETRYABLE', 'HubSpot Deal read-back was not exact.');\n}\nif ((prepared.existing_deal_id && prepared.existing_deal_id !== dealId) || (upsertDealId && upsertDealId !== dealId)) return failure(422, 'terminal_error', 'HUBSPOT_SCHEMA', 'HubSpot Deal identity changed during one execution.', progressPhase, dealId);\nconst rank = Number(properties.oddroom_order_state_rank);\nconst presentationExact = properties.dealname === `OddRoom order ${context.payload.order.number}` && properties.pipeline === String($env.HUBSPOT_PIPELINE_ID) && properties.dealstage === String($env.HUBSPOT_INITIAL_STAGE_ID);\nconst currentExact = properties.oddroom_wc_order_key === context.order_key && properties.oddroom_order_state === context.payload.event_type && rank === context.payload.state_rank && properties.oddroom_last_event_at === context.payload.occurred_at_utc && properties.oddroom_last_event_key === context.event_key && presentationExact;\nif (!currentExact) {\n  if (!prepared.deal_mutation_required) return failure(409, 'operator_review', 'RESUME_PHASE_CONFLICT', 'Remote Deal facts conflict with the persisted resume phase.', context.resume_phase, dealId);\n  return failure(503, 'retryable_error', 'HUBSPOT_RETRYABLE', 'HubSpot Deal read-back was not exact.', progressPhase, dealId);\n}\nreturn [{ json: { ...prepared, continue_association_stage: true, deal_id: dealId, association_put_url: `https://api.hubapi.com/crm/objects/2026-03/contact/${encodeURIComponent(prepared.contact_id)}/associations/default/deal/${encodeURIComponent(dealId)}`, association_read_url: `https://api.hubapi.com/crm/objects/2026-03/contact/${encodeURIComponent(prepared.contact_id)}/associations/deal` } }];"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaa9",
      "name": "Validate Deal Readback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.continue_association_stage }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaab0",
      "name": "Deal Resolution Exact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3020,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.association_mutation_required }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "cccccccc-cccc-4ccc-8ccc-ccccccccccc3",
      "name": "Association Mutation Required",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3240,
        -80
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.association_put_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaab1",
      "name": "HubSpot 2026-03 Default Association",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3460,
        -80
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "PF07HubSpotRuntime1",
          "name": "PF07 HubSpot Runtime"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const context = $('Verify HMAC Then Decode').first().json;\nconst prepared = $('Validate Deal Readback').first().json;\nconst response = $input.first().json;\nconst statusCode = Number(response.statusCode ?? 200);\nif (statusCode < 200 || statusCode >= 300) return [{ json: { continue_association_read: false, response_code: statusCode === 401 || statusCode === 403 ? 422 : 503, envelope: { schema_version: '1', event_key: context.event_key, result: statusCode === 401 || statusCode === 403 ? 'terminal_error' : 'retryable_error', processing_phase: 'deal_upserted', remote_contact_id: prepared.contact_id, remote_deal_id: prepared.deal_id, slack_status: prepared.initial_slack_status, slack_message_ts: null, retryable: !(statusCode === 401 || statusCode === 403), retry_after_seconds: null, error_code: statusCode === 401 || statusCode === 403 ? 'HUBSPOT_AUTH' : 'HUBSPOT_RETRYABLE', error_message: 'HubSpot association request was rejected.' } } }];\nreturn [{ json: { ...prepared, continue_association_read: true } }];"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaab2",
      "name": "Validate Association Put",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.continue_association_read }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaab3",
      "name": "Association Mutation Succeeded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3900,
        -80
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.association_read_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaab4",
      "name": "HubSpot 2026-03 Association Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4120,
        -80
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "PF07HubSpotRuntime1",
          "name": "PF07 HubSpot Runtime"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const context = $('Verify HMAC Then Decode').first().json;\nconst prepared = $('Validate Deal Readback').first().json;\nconst response = $input.first().json;\nconst statusCode = Number(response.statusCode ?? 200);\nconst body = response.body ?? response;\nconst results = Array.isArray(body?.results) ? body.results : [];\nconst associationPending = body?.status === 'PENDING' || body?.status === 'PROCESSING';\nconst associated = statusCode >= 200 && statusCode < 300 && !associationPending && results.some((value) => String(value?.toObjectId ?? value?.id ?? '') === prepared.deal_id);\nconst failure = (responseCode, result, code, message, phase) => [{ json: { continue_slack: false, response_code: responseCode, envelope: { schema_version: '1', event_key: context.event_key, result, processing_phase: phase, remote_contact_id: prepared.contact_id, remote_deal_id: prepared.deal_id, slack_status: prepared.initial_slack_status, slack_message_ts: null, retryable: result === 'retryable_error', retry_after_seconds: null, error_code: code, error_message: message }, trace: prepared.trace } }];\nif (statusCode === 401 || statusCode === 403) return failure(422, 'terminal_error', 'HUBSPOT_AUTH', 'HubSpot association read authorization was rejected.', 'deal_upserted');\nif (statusCode < 200 || statusCode >= 300) return failure(503, 'retryable_error', 'HUBSPOT_RETRYABLE', 'HubSpot association read-back was unavailable.', prepared.association_mutation_required ? 'deal_upserted' : context.resume_phase);\nif (!associated) {\n  if (!prepared.association_mutation_required) return failure(409, 'operator_review', 'RESUME_PHASE_CONFLICT', 'Remote association does not establish the persisted resume phase.', context.resume_phase);\n  return failure(503, 'retryable_error', 'HUBSPOT_RETRYABLE', 'HubSpot association read-back was not exact.', 'deal_upserted');\n}\nif (prepared.mode === 'duplicate') return [{ json: { continue_slack: false, response_code: 200, envelope: { schema_version: '1', event_key: context.event_key, result: 'duplicate_noop', processing_phase: 'completed', remote_contact_id: prepared.contact_id, remote_deal_id: prepared.deal_id, slack_status: 'not_required', slack_message_ts: null, retryable: false, retry_after_seconds: null, error_code: null, error_message: null }, trace: [...prepared.trace,'completed'] } }];\nif (context.payload.event_type === 'ORDER_CREATED') return [{ json: { continue_slack: false, response_code: 200, envelope: { schema_version: '1', event_key: context.event_key, result: 'completed', processing_phase: 'completed', remote_contact_id: prepared.contact_id, remote_deal_id: prepared.deal_id, slack_status: 'not_required', slack_message_ts: null, retryable: false, retry_after_seconds: null, error_code: null, error_message: null }, trace: [...prepared.trace,'associated','completed'] } }];\nconst order = context.payload.order;\nconst dealRef = `deal-…${prepared.deal_id.slice(-6)}`;\nconst text = [`run_id=${context.payload.run_id}`,`event_key=${context.event_key}`,`event_type=${context.payload.event_type}`,`order=${order.number}`,`currency=${order.currency}`,`total=${order.total}`,`deal_ref=${dealRef}`].join(' | ');\nreturn [{ json: { continue_slack: true, contact_id: prepared.contact_id, deal_id: prepared.deal_id, slack_body: { channel: String($env.SLACK_CHANNEL_ID), text }, trace: [...prepared.trace,'associated','slack_pending'] } }];"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaab5",
      "name": "Prepare Slack Or Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4340,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.continue_slack }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaab6",
      "name": "Slack Required",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        4560,
        -80
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst context = $('Verify HMAC Then Decode').first().json;\nconst prepared = $('Prepare Slack Or Complete').first().json;\nconst timestamp = String(Math.floor(Date.now() / 1000));\nconst base = `fault-status.${timestamp}.${context.event_key}.${context.payload.run_id}`;\nconst signature = 'v1=' + crypto.createHmac('sha256', String($env.ODDROOM_WEBHOOK_HMAC_KEY ?? '')).update(base, 'utf8').digest('hex');\nreturn [{ json: { fault_timestamp: timestamp, fault_signature: signature, fault_lookup_body: { event_key: context.event_key, run_id: context.payload.run_id }, contact_id: prepared.contact_id, deal_id: prepared.deal_id, slack_body: prepared.slack_body, trace: prepared.trace } }];"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaab7",
      "name": "Prepare Fault Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4780,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://wordpress/wp-json/oddroom-orderops/v1/fault-before-slack",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-OddRoom-Timestamp",
              "value": "={{ $json.fault_timestamp }}"
            },
            {
              "name": "X-OddRoom-Fault-Signature",
              "value": "={{ $json.fault_signature }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.fault_lookup_body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 5000
        }
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaab8",
      "name": "Lookup Active Pre-Post Fault",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5000,
        -80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const context = $('Verify HMAC Then Decode').first().json;\nconst prepared = $('Prepare Fault Lookup').first().json;\nconst response = $input.first().json;\nconst statusCode = Number(response.statusCode ?? 0);\nconst body = response.body ?? response;\nif (statusCode !== 200 || body?.authorized !== true) return [{ json: { send_slack: false, response_code: 503, envelope: { schema_version: '1', event_key: context.event_key, result: 'retryable_error', processing_phase: 'slack_pending', remote_contact_id: prepared.contact_id, remote_deal_id: prepared.deal_id, slack_status: 'failed_before_post', slack_message_ts: null, retryable: true, retry_after_seconds: null, error_code: 'SLACK_RETRYABLE_BEFORE_POST', error_message: 'Staging pre-post authorization could not be established.' }, trace: prepared.trace } }];\nif (body?.active === true) return [{ json: { send_slack: false, response_code: 503, envelope: { schema_version: '1', event_key: context.event_key, result: 'retryable_error', processing_phase: 'slack_pending', remote_contact_id: prepared.contact_id, remote_deal_id: prepared.deal_id, slack_status: 'failed_before_post', slack_message_ts: null, retryable: true, retry_after_seconds: 1, error_code: 'SLACK_RETRYABLE_BEFORE_POST', error_message: 'Deterministic staging fault immediately before Slack post.' }, trace: prepared.trace } }];\nif (body?.active !== false) return [{ json: { send_slack: false, response_code: 503, envelope: { schema_version: '1', event_key: context.event_key, result: 'retryable_error', processing_phase: 'slack_pending', remote_contact_id: prepared.contact_id, remote_deal_id: prepared.deal_id, slack_status: 'failed_before_post', slack_message_ts: null, retryable: true, retry_after_seconds: null, error_code: 'SLACK_RETRYABLE_BEFORE_POST', error_message: 'Staging pre-post state was malformed.' }, trace: prepared.trace } }];\nreturn [{ json: { send_slack: true, contact_id: prepared.contact_id, deal_id: prepared.deal_id, slack_body: prepared.slack_body, trace: prepared.trace } }];"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaab9",
      "name": "Slack Pre-Post Fault Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5220,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.send_slack }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaac0",
      "name": "Slack Send Allowed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5440,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.slack_body }}"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaac1",
      "name": "Slack chat.postMessage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5660,
        -80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PF07SlackRuntime1",
          "name": "PF07 Slack Runtime"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const context = $('Verify HMAC Then Decode').first().json;\nconst prepared = $('Slack Pre-Post Fault Gate').first().json;\nconst response = $input.first().json;\nconst statusCode = Number(response.statusCode ?? 0);\nconst body = response.body ?? response;\nconst headers = response.headers ?? {};\nconst envelope = (result, slackStatus, retryable, retryAfter, errorCode, errorMessage, ts = null) => ({ schema_version: '1', event_key: context.event_key, result, processing_phase: result === 'completed' ? 'completed' : 'slack_pending', remote_contact_id: prepared.contact_id, remote_deal_id: prepared.deal_id, slack_status: slackStatus, slack_message_ts: ts, retryable, retry_after_seconds: retryAfter, error_code: errorCode, error_message: errorMessage });\nconst responseChannel = String(body?.channel ?? '');\nconst ts = typeof body?.ts === 'string' && body.ts !== '' ? body.ts : null;\nif (statusCode >= 200 && statusCode < 300 && body?.ok === true && responseChannel === String($env.SLACK_CHANNEL_ID) && ts) return [{ json: { response_code: 200, envelope: envelope('completed', 'posted', false, null, null, null, ts), trace: [...prepared.trace,'slack_posted','completed'] } }];\nconst slackError = typeof body?.error === 'string' ? body.error : '';\nconst retryHeader = headers['retry-after'] ?? headers['Retry-After'] ?? null;\nconst retryText = typeof retryHeader === 'string' || typeof retryHeader === 'number' ? String(retryHeader) : '';\nconst retryNumber = /^[0-9]+$/.test(retryText) ? Number(retryText) : NaN;\nconst retryAfter = Number.isSafeInteger(retryNumber) ? retryNumber : null;\nif (statusCode === 429 || slackError === 'ratelimited' || slackError === 'internal_error' || slackError === 'fatal_error' || slackError === 'request_timeout') return [{ json: { response_code: 503, envelope: envelope('retryable_error', 'failed_before_post', true, retryAfter, 'SLACK_RETRYABLE_BEFORE_POST', 'Slack explicitly did not accept the message.'), trace: prepared.trace } }];\nif (['invalid_auth','not_authed','missing_scope','account_inactive','token_revoked'].includes(slackError) || statusCode === 401 || statusCode === 403) return [{ json: { response_code: 422, envelope: envelope('terminal_error', 'failed_before_post', false, null, 'SLACK_AUTH', 'Slack authorization was rejected.'), trace: prepared.trace } }];\nif (body?.ok === false && slackError !== '') return [{ json: { response_code: 422, envelope: envelope('terminal_error', 'failed_before_post', false, null, 'SLACK_TERMINAL', 'Slack rejected the message before acceptance.'), trace: prepared.trace } }];\nreturn [{ json: { response_code: 409, envelope: envelope('operator_review', 'outcome_unknown', false, null, 'SLACK_OUTCOME_UNKNOWN', 'Slack acceptance could not be established from the response.'), trace: prepared.trace } }];"
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaac2",
      "name": "Validate Slack Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5880,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.envelope }}",
        "options": {
          "responseCode": "={{ $json.response_code }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Return Authenticated Envelope",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        6100,
        -40
      ]
    }
  ],
  "connections": {
    "Signed Raw Webhook": {
      "main": [
        [
          {
            "node": "Verify HMAC Then Decode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC Then Decode": {
      "main": [
        [
          {
            "node": "Authenticated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticated": {
      "main": [
        [
          {
            "node": "HubSpot 2026-03 Deal Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Before Side Effects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot 2026-03 Deal Read": {
      "main": [
        [
          {
            "node": "Resolve Monotonic Deal State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Monotonic Deal State": {
      "main": [
        [
          {
            "node": "Authenticated Work Continues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticated Work Continues": {
      "main": [
        [
          {
            "node": "Contact Mutation Required",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Authenticated Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Mutation Required": {
      "main": [
        [
          {
            "node": "HubSpot 2026-03 Contact Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HubSpot 2026-03 Contact Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot 2026-03 Contact Upsert": {
      "main": [
        [
          {
            "node": "Validate Contact Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Contact Upsert": {
      "main": [
        [
          {
            "node": "Contact Mutation Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Mutation Succeeded": {
      "main": [
        [
          {
            "node": "HubSpot 2026-03 Contact Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Authenticated Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot 2026-03 Contact Read": {
      "main": [
        [
          {
            "node": "Validate Contact Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Contact Read": {
      "main": [
        [
          {
            "node": "Contact Resolution Exact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Resolution Exact": {
      "main": [
        [
          {
            "node": "Deal Mutation Required",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Authenticated Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deal Mutation Required": {
      "main": [
        [
          {
            "node": "HubSpot 2026-03 Deal Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HubSpot 2026-03 Deal Readback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot 2026-03 Deal Upsert": {
      "main": [
        [
          {
            "node": "Validate Deal Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deal Upsert": {
      "main": [
        [
          {
            "node": "Deal Mutation Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deal Mutation Succeeded": {
      "main": [
        [
          {
            "node": "HubSpot 2026-03 Deal Readback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Authenticated Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot 2026-03 Deal Readback": {
      "main": [
        [
          {
            "node": "Validate Deal Readback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deal Readback": {
      "main": [
        [
          {
            "node": "Deal Resolution Exact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deal Resolution Exact": {
      "main": [
        [
          {
            "node": "Association Mutation Required",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Authenticated Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Association Mutation Required": {
      "main": [
        [
          {
            "node": "HubSpot 2026-03 Default Association",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HubSpot 2026-03 Association Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot 2026-03 Default Association": {
      "main": [
        [
          {
            "node": "Validate Association Put",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Association Put": {
      "main": [
        [
          {
            "node": "Association Mutation Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Association Mutation Succeeded": {
      "main": [
        [
          {
            "node": "HubSpot 2026-03 Association Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Authenticated Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot 2026-03 Association Read": {
      "main": [
        [
          {
            "node": "Prepare Slack Or Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Slack Or Complete": {
      "main": [
        [
          {
            "node": "Slack Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Required": {
      "main": [
        [
          {
            "node": "Prepare Fault Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Authenticated Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fault Lookup": {
      "main": [
        [
          {
            "node": "Lookup Active Pre-Post Fault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Active Pre-Post Fault": {
      "main": [
        [
          {
            "node": "Slack Pre-Post Fault Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Pre-Post Fault Gate": {
      "main": [
        [
          {
            "node": "Slack Send Allowed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Send Allowed": {
      "main": [
        [
          {
            "node": "Slack chat.postMessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Authenticated Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack chat.postMessage": {
      "main": [
        [
          {
            "node": "Validate Slack Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Slack Result": {
      "main": [
        [
          {
            "node": "Return Authenticated Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 300,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "73b3efc8-8422-4178-b69e-6b2f9c348821",
  "tags": []
}
