workflow/oddroom-orderops-vsl.json
{
  "id": "PF07OrderOpsVSL1",
  "name": "OddRoom OrderOps VSL",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oddroom-orderops-v1",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Signed Raw Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-900, 0],
      "webhookId": "71111111-1111-4111-8111-111111111111"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\nconst item = $input.first();\nconst sourceHeaders = item.json.headers ?? {};\nconst headers = {};\nfor (const [key, value] of Object.entries(sourceHeaders)) headers[String(key).toLowerCase()] = Array.isArray(value) ? String(value[0] ?? '') : String(value ?? '');\nconst rawBase64 = item.binary?.data?.data;\nconst raw = typeof rawBase64 === 'string' ? Buffer.from(rawBase64, 'base64') : Buffer.alloc(0);\nconst reject = (errorCode, statusCode) => [{ json: { authorized: false, status_code: statusCode, error: { error_code: errorCode } } }];\nif (raw.length > 262144) return reject('PAYLOAD_TOO_LARGE', 413);\nconst eventKey = headers['x-oddroom-event-key'] ?? '';\nconst timestampText = headers['x-oddroom-timestamp'] ?? '';\nconst phase = headers['x-oddroom-resume-phase'] ?? '';\nconst supplied = headers['x-oddroom-signature'] ?? '';\nif (!/^v1:[A-Za-z0-9-]{1,64}:[1-9][0-9]{0,19}:ORDER_CREATED$/.test(eventKey)) return reject('SIGNATURE_INVALID', 401);\nif (!/^[1-9][0-9]{0,10}$/.test(timestampText) || !['created','deal_resolved','deal_upserted'].includes(phase)) return reject('SIGNATURE_INVALID', 401);\nif (!/^v1=[0-9a-f]{64}$/.test(supplied)) return reject('SIGNATURE_INVALID', 401);\nconst secret = String($env.ODDROOM_WEBHOOK_HMAC_KEY ?? '');\nif (secret.length < 16) throw new Error('HMAC credential alias is unavailable');\nconst base = Buffer.concat([Buffer.from(`${timestampText}.${eventKey}.${phase}.`, 'utf8'), raw]);\nconst expected = 'v1=' + crypto.createHmac('sha256', secret).update(base).digest('hex');\nconst providedBytes = Buffer.from(supplied, 'utf8');\nconst expectedBytes = Buffer.from(expected, 'utf8');\nif (providedBytes.length !== expectedBytes.length || !crypto.timingSafeEqual(providedBytes, expectedBytes)) return reject('SIGNATURE_INVALID', 401);\nconst timestamp = Number(timestampText);\nif (!Number.isSafeInteger(timestamp) || Math.abs(Math.floor(Date.now() / 1000) - timestamp) > 300) return reject('TIMESTAMP_EXPIRED', 401);\nlet payload;\ntry { payload = JSON.parse(raw.toString('utf8')); } catch { return reject('PAYLOAD_INVALID', 400); }\nconst order = payload?.order;\nconst valid = payload?.schema_version === '1' && payload?.event_key === eventKey && typeof payload?.shop_instance_id === 'string' && payload.shop_instance_id.length >= 1 && payload.shop_instance_id.length <= 64 && typeof payload?.run_id === 'string' && /^[0-9a-f-]{36}$/.test(payload.run_id) && payload?.event_type === 'ORDER_CREATED' && payload?.state_rank === 10 && typeof payload?.occurred_at_utc === 'string' && payload?.occurred_at_source === 'date_created' && order && Number.isInteger(order.id) && order.id > 0 && typeof order.number === 'string' && order.number.length >= 1 && order.number.length <= 255 && /^[A-Z]{3}$/.test(order.currency ?? '') && /^(?:0|[1-9][0-9]{0,17})\\.[0-9]{2}$/.test(order.total ?? '') && order.customer && typeof order.customer.email === 'string' && /^[^@\\s]+@example\\.com$/.test(order.customer.email) && Array.isArray(order.items) && order.items.length >= 1 && order.items.length <= 100 && Array.isArray(order.coupon_codes) && order.coupon_codes.length <= 50;\nif (!valid) return reject(payload?.schema_version === '1' ? 'PAYLOAD_INVALID' : 'SCHEMA_UNSUPPORTED', 400);\nconst expectedKey = `v1:${payload.shop_instance_id}:${order.id}:ORDER_CREATED`;\nif (eventKey !== expectedKey) return reject('PAYLOAD_INVALID', 400);\nconst orderKey = `${payload.shop_instance_id}:${order.id}`;\nreturn [{ json: { authorized: true, event_key: eventKey, resume_phase: phase, payload, order_key: orderKey, read_body: { idProperty: 'oddroom_wc_order_key', properties: ['oddroom_wc_order_key','oddroom_order_state','oddroom_order_state_rank','oddroom_last_event_at','oddroom_last_event_key','dealname','pipeline','dealstage'], inputs: [{ id: orderKey }] } } }];"
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Verify HMAC Then Decode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-680, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.authorized }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Authenticated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-460, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.error }}",
        "options": {
          "responseCode": "={{ $json.status_code }}",
          "responseHeaders": {
            "entries": [
              {"name": "Content-Type", "value": "application/json; charset=utf-8"}
            ]
          }
        }
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Reject Before Side Effects",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-220, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/objects/2026-03/deals/batch/read",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.read_body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "HubSpot 2026-03 Deal Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-220, -80],
      "credentials": {
        "httpBearerAuth": {
          "id": "PF07HubSpotRuntime1",
          "name": "PF07 HubSpot Runtime"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const context = $('Verify HMAC Then Decode').first().json;\nconst response = $input.first().json;\nconst statusCode = Number(response.statusCode ?? 200);\nconst body = response.body ?? response;\nconst envelope = (result, phase, dealId, retryable, errorCode, errorMessage) => ({ schema_version: '1', event_key: context.event_key, result, processing_phase: phase, remote_contact_id: null, remote_deal_id: dealId ?? null, slack_status: 'not_required', slack_message_ts: null, retryable, retry_after_seconds: null, error_code: errorCode ?? null, error_message: errorMessage ?? null });\nif (statusCode < 200 || statusCode >= 300) return [{ json: { should_upsert: false, response_code: 503, envelope: envelope('retryable_error', context.resume_phase, null, true, 'HUBSPOT_RETRYABLE', 'HubSpot Deal resolution was unavailable.') } }];\nconst results = Array.isArray(body?.results) ? body.results : [];\nif (body?.status && body.status !== 'COMPLETE') return [{ json: { should_upsert: false, response_code: 503, envelope: envelope('retryable_error', context.resume_phase, null, true, 'HUBSPOT_RETRYABLE', 'HubSpot Deal resolution did not complete.') } }];\nif (results.length > 1) return [{ json: { should_upsert: false, response_code: 422, envelope: envelope('terminal_error', context.resume_phase, null, false, 'HUBSPOT_SCHEMA', 'Deal identity resolution was ambiguous.') } }];\nconst existing = results[0] ?? null;\nconst existingRank = existing ? Number(existing.properties?.oddroom_order_state_rank ?? -1) : -1;\nconst existingKey = existing?.properties?.oddroom_last_event_key ?? null;\nif (existing && existingRank > context.payload.state_rank) return [{ json: { should_upsert: false, response_code: 200, envelope: envelope('stale_ignored', 'completed', String(existing.id), false, null, null) } }];\nif (existing && existingRank === context.payload.state_rank && existingKey && existingKey !== context.event_key) return [{ json: { should_upsert: false, response_code: 422, envelope: envelope('terminal_error', 'deal_resolved', String(existing.id), false, 'RESUME_PHASE_CONFLICT', 'Equal-rank remote state has a different event key.') } }];\nconst order = context.payload.order;\nconst upsertBody = { inputs: [{ id: context.order_key, idProperty: 'oddroom_wc_order_key', properties: { dealname: `OddRoom order ${order.number}`, pipeline: String($env.HUBSPOT_PIPELINE_ID), dealstage: String($env.HUBSPOT_INITIAL_STAGE_ID), oddroom_wc_order_key: context.order_key, oddroom_order_state: context.payload.event_type, oddroom_order_state_rank: String(context.payload.state_rank), oddroom_last_event_at: context.payload.occurred_at_utc, oddroom_last_event_key: context.event_key } }] };\nreturn [{ json: { should_upsert: true, response_code: null, envelope: null, existing_deal_id: existing ? String(existing.id) : null, upsert_body: upsertBody, trace: ['created','deal_resolved'] } }];"
      },
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Resolve Monotonic Deal State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [20, -80]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.should_upsert }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Deal Mutation Allowed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [250, -80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/objects/2026-03/deals/batch/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.upsert_body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "88888888-8888-4888-8888-888888888888",
      "name": "HubSpot 2026-03 Deal Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [480, -180],
      "credentials": {
        "httpBearerAuth": {
          "id": "PF07HubSpotRuntime1",
          "name": "PF07 HubSpot Runtime"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const context = $('Verify HMAC Then Decode').first().json;\nconst prepared = $('Resolve Monotonic Deal State').first().json;\nconst response = $input.first().json;\nconst statusCode = Number(response.statusCode ?? 200);\nconst body = response.body ?? response;\nconst results = Array.isArray(body?.results) ? body.results : [];\nconst complete = statusCode >= 200 && statusCode < 300 && (!body?.status || body.status === 'COMPLETE') && results.length === 1 && String(results[0]?.id ?? '') !== '';\nif (!complete) return [{ json: { response_code: 503, envelope: { schema_version: '1', event_key: context.event_key, result: 'retryable_error', processing_phase: 'deal_resolved', remote_contact_id: null, remote_deal_id: prepared.existing_deal_id ?? null, slack_status: 'not_required', slack_message_ts: null, retryable: true, retry_after_seconds: null, error_code: 'HUBSPOT_RETRYABLE', error_message: 'HubSpot Deal upsert did not complete.' }, trace: ['created','deal_resolved'] } }];\nreturn [{ json: { response_code: 200, envelope: { schema_version: '1', event_key: context.event_key, result: 'completed', processing_phase: 'completed', remote_contact_id: null, remote_deal_id: String(results[0].id), slack_status: 'not_required', slack_message_ts: null, retryable: false, retry_after_seconds: null, error_code: null, error_message: null }, trace: ['created','deal_resolved','deal_upserted','completed'] } }];"
      },
      "id": "99999999-9999-4999-8999-999999999999",
      "name": "Validate Complete Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, -180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.envelope }}",
        "options": {
          "responseCode": "={{ $json.response_code }}",
          "responseHeaders": {
            "entries": [
              {"name": "Content-Type", "value": "application/json; charset=utf-8"}
            ]
          }
        }
      },
      "id": "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Return Authenticated Envelope",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [960, -80]
    }
  ],
  "connections": {
    "Signed Raw Webhook": {"main": [[{"node": "Verify HMAC Then Decode", "type": "main", "index": 0}]]},
    "Verify HMAC Then Decode": {"main": [[{"node": "Authenticated", "type": "main", "index": 0}]]},
    "Authenticated": {"main": [[{"node": "HubSpot 2026-03 Deal Read", "type": "main", "index": 0}], [{"node": "Reject Before Side Effects", "type": "main", "index": 0}]]},
    "HubSpot 2026-03 Deal Read": {"main": [[{"node": "Resolve Monotonic Deal State", "type": "main", "index": 0}]]},
    "Resolve Monotonic Deal State": {"main": [[{"node": "Deal Mutation Allowed", "type": "main", "index": 0}]]},
    "Deal Mutation Allowed": {"main": [[{"node": "HubSpot 2026-03 Deal Upsert", "type": "main", "index": 0}], [{"node": "Return Authenticated Envelope", "type": "main", "index": 0}]]},
    "HubSpot 2026-03 Deal Upsert": {"main": [[{"node": "Validate Complete Envelope", "type": "main", "index": 0}]]},
    "Validate Complete Envelope": {"main": [[{"node": "Return Authenticated Envelope", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 300,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
  "tags": []
}
